# Gradle build files and directories
.gradle/
build/

# IDE specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.bin/
out/

# Log files and run directories
/run/
/runGame/
*.log

# OS-specific hidden files
.DS_Store
Thumbs.db

